---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Contact</h1>
        <Card href="https://www.google.com" title="Google" body="this goes to google"/>
	</main>
</Layout>


